{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{#******** BLOCK BODY *******#}
{% block body %}
        
    <div id="wrapper">
        <div id="container">
            
            <div class="row paddingtop50">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <span class="title-font white-color"><small>Exemple</small><br />de formulaire</span>
                    <p>... et contrôle ;)</p>
                    <p>Pour passer par le controller, envoyez le formulaire correctement.</p>
                </div>
            </div>
            <div id="errorMsg" class="alert alert-danger" role="alert" style="display:none;">

            </div>
            <form action="{{ path('contactResult') }}" method="post" class="paddingtop50">
                <div class="row">
                    <div class="col">
                        <input required="true" name="firstName" id="firstName" type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input required="true" name="lastName" id="lastName" type="text" class="form-control" placeholder="Last name">
                    </div>
               
                </div>
                <div class="row paddingtop50">
                    <div class="col">
                        <input name="city" type="text" class="form-control" placeholder="City">
                    </div> 
                    <div class="col">
                        <select name="country" class="form-control" id="alea_form_control" style="max-width: 200px; border: 1px solid silver;">
                                <!-- Country list -->
                                {% for code,label in countryList %}
                                    <option value="{{ code }}">{{ label }}</option>
                                {% endfor %}
                                
                        </select>
                    </div>                  
                </div>
              <div class="col text-center paddingtop50">
                    <button id="sendForm" type="submit" class="btn btn-primary col-lg-4 col-md-4 col-sm-6 col-xs-6">Send Info</button>
              </div>
            </form>
            
        </div>
    </div>
    
    {#******** BLOCK JAVASCRIPT *******#}
    {% block javascripts %}
        {{ parent() }}
        {{ include('@NetemediaBlocks/contact.js.twig') }}
    {% endblock %}
    {#******** END BLOCK JAVASCRIPT *******#}
    
    {#******** CSS BLOCK *******#} 
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/contact.css') }}"/>
    {% endblock %}
    {#******** END CSS BLOCK *******#}
    
{% endblock %}
{#******** END BLOCK BODY *******#}