{% extends 'base.html.twig' %}

{% block title %}Retour du formulaire{% endblock %}

{#******** BLOCK BODY *******#}
{% block body %}

    <div id="wrapper">
        <div id="container">
            
            <div class="row paddingtop50">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <span class="title-font white-color"><small>Récupération données</small><br />de formulaire</span>
                    <p>La première ligne seulement, la suite est pour le fun :)</p>
                    <p>Cliquez sur les lignes.... et vous verrez !</p>
                </div>
            </div>

            <br />
            
            <div id='cardBox'>
                
                <div class="row">
                    <div class="col text-center">

                          <div class="id-card">
                            <div class="profile-row">
                              <div class="dp">
                                <div class="dp-arc-outer"></div>
                                <div class="dp-arc-inner"></div>
                                <img id='imgAvatar' src='https://via.placeholder.com/420x420'>
                              </div>
                              <div class="desc">
                                <h1><span id="firstName"></span> <span id="lastName"></span></h1>
                                    <p>Country: <span id="country"></span></p>
                                    <p>City: <span id="city"></span> </p>
                                    <p>Known as: <span id="special"></span></p>
                              </div>
                            </div>
                          </div>

                    </div>

                </div>
            
            </div>
            
            <br />
            
            <table id="tableUser" class="display">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>City</th>
                        <th>Location</th>
                        <th>Specificity</th>
                        <th>Avatar Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ firstName }}</td>
                        <td>{{ lastName }}</td>
                        <td>{% if city is not empty %}{{ city }} {% else %} unknown {% endif %}</td>
                        <td>{{ country }}</td>
                        <td>Simple human</td>
                        <td>https://via.placeholder.com/420x420</td>
                    </tr>
                  
                </tbody>
                
                
            </table>
   
        </div>
    </div>
    
    
    {#******** BLOCK JAVASCRIPT *******#}
    {{ include('@NetemediaBlocks/contactResult.js.twig') }}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    {#******** END BLOCK JAVASCRIPT *******#}
    
    {#******** CSS BLOCK *******#} 
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ asset('css/contactResult.css') }}"/>
    {% endblock %}
    {#******** END CSS BLOCK *******#}

{% endblock %}
{#******** END BLOCK BODY *******#}